html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.stylehOne{
    background: linear-gradient(to right , rgb(255, 1, 1) , rgb(255, 238, 0));
    font-size: 3rem;
    font-weight: 700;
    background-clip: text;
    color: transparent;
    text-transform: capitalize;
}

